html {
    background: url(https://images.unsplash.com/photo-1650059995983-477e880a87b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}
body {
    font-size: 25px;
    margin: 75px;
    padding: 75px;
    color: rgb(8, 8, 8);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}