* {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://images.unsplash.com/photo-1666782135903-e93ec1852aaf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)
}

p {
    font-size: 70px;
    color: rgb(214, 221, 12);
    margin: 100px;
    padding: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}